
@{
    ViewBag.Title = "login";
}

<h2>login</h2>
<div>
    <tr>
        <input id="Text1" type="text" />
    </tr>
</div>

<div>
    <tr>
        <input id="Password1" type="password" />
    </tr>
</div>
<div>
    <tr>  </tr>
</div>
<div>
    <tr>
        <input id="Submit1" type="submit" value="submit" />
    </tr>
</div>
